.menu-page-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: #ffffff;
  position: relative;
  top: 80px;
  overflow-y: auto;
}

.wrapper-menu-page {
  width: 100%;
  min-height: 100vh;
  min-height: 100%!important;
  background-color: #ffffff;
  bottom: 0px;
  padding-bottom: 110px;
}