/* src/components/common/styles/Input.css */

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.input-wrapper-full {
  width: 100%;
}

.input-wrapper-disabled {
  opacity: 0.6;
  pointer-events: none;
}

.input-label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-gray-700);
  display: block;
}

.input-required {
  color: var(--color-error);
  margin-left: var(--spacing-1);
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: var(--spacing-3) var(--spacing-4);
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
  color: var(--color-gray-900);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  border-radius: var(--radius-lg);
  transition: all var(--transition-base);
  outline: none;
}

.input::placeholder {
  color: var(--color-gray-400);
}

.input:hover:not(:disabled) {
  border-color: var(--color-gray-400);
}

.input:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px var(--color-primary-alpha);
}

.input:disabled {
  background-color: var(--color-gray-100);
  cursor: not-allowed;
}

.input-error {
  border-color: var(--color-error);
}

.input-error:focus {
  border-color: var(--color-error);
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.1);
}

/* With Icons */
.input-with-icon-left {
  padding-left: var(--spacing-10);
}

.input-with-icon-right {
  padding-right: var(--spacing-10);
}

.input-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-400);
  pointer-events: none;
}

.input-icon svg {
  width: 18px;
  height: 18px;
}

.input-icon-left {
  left: var(--spacing-4);
}

.input-icon-right {
  right: var(--spacing-4);
}

/* Messages */
.input-message {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-tight);
}

.input-error-message {
  color: var(--color-error);
}

.input-helper-text {
  color: var(--color-gray-600);
}

/* Input Types */
input[type='search'].input {
  padding-right: var(--spacing-10);
}

input[type='search'].input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type='number'].input::-webkit-inner-spin-button,
input[type='number'].input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'].input {
  -moz-appearance: textfield;
}